# Ignoring all PCAP files. Size's too big.
Dataset-Files/PCAP-Captures
# All csv files for the dataset will be uploaded in specific zip files
Dataset-Files/Tshark-Dataset/*.csv
# All csv files for the dataset will be uploaded in specific zip files
Quantum-IDS/*.csv
Quantum-IDS/QNN_IDS/*.csv
Quantum-IDS/QSVM_implementations/*.csv

Classic-IDS/*.csv
Classic-IDS/SVM-IDS/*.csv
Classic-IDS/NN-IDS/*.csv
Classic-IDS/NN-IDS/
#Ignoring Tutorials
Quantum-IDS/Tutoriales
*.csv
*.pkl
*.pdf
Plots/